@import "tailwindcss";

@theme {
  /* Define custom forest theme colors */
  --color-forest: #30685f;
  --color-forest-dark: #1e3a30;
  --color-forest-light: #3a705e;

  /* Define custom cream theme colors */
  --color-cream: #F8F6F0;
  --color-cream-dark: #EAE5D8;
}

html {
  scroll-behavior: smooth;
}

/* Optional selection utilities */
::selection {
  background-color: var(--color-forest);
  color: white;
}